@font-face {
  font-family: NasaFont;
  src: url("../font/nasalization/nasalization-rg.ttf"); }

body {
  font-family: NasaFont;
  background-color: #010101;
  color: white;
  position: relative; }

.logo {
  width: 6%;
  height: 10vh;
  margin: 1.5em;
  background-image: url(../img/Untitled-2.svg); }

.section__Page {
  margin-top: 5%; }

.main {
  width: 50%;
  float: left;
  margin-top: 10%;
  margin-left: 5%; }

article h1 {
  font-size: 5em; }

article h3 {
  margin-top: -2.5em;
  font-size: 1.8em;
  margin-left: 45%; }

.image__header {
  padding-left: 50%; }

.rocket__image {
  width: 37vw;
  height: 75%; }

.icons {
  margin-top: 10%;
  margin-left: 10%; }
  .icons i {
    color: #971d50;
    padding: 0.27em;
    font-size: 4em; }

.icons__background {
  margin-left: 4%;
  border-radius: 30%;
  display: inline-block;
  background-color: #fdfdfd;
  height: 12vh;
  width: 12%; }

a {
  padding-top: 100px;
  color: red;
  background-color: red;
  height: 100px;
  width: 100px; }
