@font-face {
  font-family: NasaFont;
  src: url("../font/nasalization/nasalization-rg.ttf"); }

body {
  font-family: NasaFont;
  background-color: #010101;
  color: white;
  position: relative; }

.logo {
  width: 6%;
  height: 10vh;
  margin: 1.5em;
  background-image: url(../img/Untitled-2.svg); }

.section__Page {
  margin-top: 1em; }

.main {
  width: 50%;
  float: left;
  margin-top: 10%;
  margin-left: 5%; }

article h1 {
  font-size: 5em; }

article h3 {
  margin-top: -2.5em;
  font-size: 1.8em;
  margin-left: 45%; }

.image__header {
  position: absolute;
  padding-left: 50%;
  margin-top: -15%; }

.rocket__image {
  width: 37vw;
  height: 75%; }
