@font-face {
    font-family: NasaFont;
    src: url("../font/nasalization/nasalization-rg.ttf");
}

$darkBackgroundColor: #1A1919;
$frontPageColor:#010101;

//Index WebPage

.index_body {
    font-family: NasaFont;
    background-color: $frontPageColor;
    color: white;
    overflow: hidden;   
}

.imgLogo {
   position: absolute;
   margin: 3em;    
}

.main {    
    margin-top: 18%;
    width: 43%;   
    float: left;
    margin-left: 5%; 
}

article { 
    h1 { 
        font-size: 4.5em;
    }
    h3 {
        margin-top: -1.5em; 
        font-size: 1.8em;
        margin-left: 35%;
    }
}

.image__header {      
    float: right;
    padding-right: 10em;  
    margin-top: -5%;
}

.rocket__image {
    width: 40vw;  
}

.icons {
    margin-top: 10%;
    margin-left: 10%;

    i {
        color:$darkBackgroundColor;
        padding: 0.30em;
        font-size: 3.5em;
    }
}

.extra {
    margin-left: 15%;
}

.icons__background {

    margin-left: 4%;
    border-radius: 30%;
    display: inline-block;
    background-color: rgb(253, 253, 253);
    height: 10vh;
    width: 13%;
}

//spaceAct Site

.spx__page {
    background-color: $darkBackgroundColor;  
    color: white;    
    margin: 0px;
    padding:0px;
    font-family: NasaFont;
    
}

.header__menu { 
    float: right;
    padding-right: 3%;
    margin-top: 2%;  

    a {
        float: left;
        color:white;    
        padding: 1.5em;
        text-decoration: none;
        font-size: 1.5em;     
   
    }
}



.heroPage {
    background-image: url("../img/nasa-Q1p7bh3SHj8-unsplash.jpg");
    height: 100vh;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: 10% 10%;
    background-size: cover;    
}

.text__header { 
    margin-top: 15%;
    margin-left: 10%;
    font-size: 1.2em;
}
.icons__arrow {
    margin-top: 20%;
    margin-left: 50%;
    font-size: 4em;
}
.icons__arrow__two {
    font-size: 4em;   
    margin-left: 50%;
    margin-top:-3%;
}

.partTwo {
    margin-top: 10%;
   
}


.dev__left {
    float: left;
    width: 35%;
    margin-left: 5%;

    h2 {
        font-size: 2.5em;
    }
}

.dev__rigth {
    float: right;
     
    img { 
        margin-top: 4%;
        margin-left: 15%;
        width: 70%;
        height: 45vh;
    }
}

.partThree {
    padding-top: 35%;
      
}

.part__left {
    float: left;
    width: 45%;

    img {
        margin-left: 15%;
        margin-top: 10%;
        width: 85%;    
    }
}


.part__rigth {
    float: right;
    width: 35%;
    margin-right: 10%;
    margin-left: 5%;
    margin-top:5%;

    h2 {        
        font-size: 2.5em;
    }
    p { 
        font-size: 1.3em;
    }  
    
}

.gridSection { 
    margin-top:38%;
    width: 100%;
    height: 40em;
    background-color: #6B6B6B;
}

.gridbakcend { 
    display: grid;
    grid-template-columns: auto auto auto;
    padding-top: 5%;
    margin-left: 6%;
}

.gridCol {    
    display: inline-block;
    width: 75%;
    height: 110%;
   
    background-color: #242121;
    
    img {
        width: 85%;
        padding: 2em;
    }
    a {
        color:white;
        padding: 0.6em;
        border: 2px solid white;
        height: 10%;
        width: 20%;
        background-color: #1E1E1E;
        text-decoration: none;
        margin-left: 70%;
    }   
}

.innerSection {
    margin: 8%;
    background-color: #2A2A2A; 
    width: 85%;
    height: 50vh;

    h1 {
        font-size: 3.5em;
        margin-left: 30%;
    } 

}
.inputSection {
    margin-left: 15%;

    input {
        width: 78%;
        height: 3em;
        background-color: #C2C2C2;      
        border:none; 
    }
    button { 
        background-color: #3D4B5B;   
        height: 3em;
        border:none;
        color:white;
        width: 6em;     
    }

}

.spaceXGrid { 
    width: 73%;
    background-color: #1E1E1E;
    height: 10em;
    margin-left: 15%;
    margin-top:2%;
}
